

.game-area {
  position: relative;
  top: 0;
  left: 0;
  width: 1200px;
  height: 800px;
}
.board {
  position: relative;
  top: 0;
  left: 0;
}
.avatar {
  position: relative;
  top: 100px;
  left: 30px;
  border: 2px yellow solid;
}

.rollButton {
  font-family: 'Piedra', cursive;
  background-color: #008CBA;
  font-size: 16px;
  margin: 4px 2px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
}
